* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  padding : 50px 195px;
  max-width: 1440px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.w-fit {
  width: fit-content;
}

.text-primary {
  color: #252B42;
}

.text-primary-2 {
  color: #737373;
}

.text-secondary {
  color: #96BB7C;
}

.section-header {
  margin-bottom: 112px;
}

.section-name {
  font-size: 12px;
  line-height: 16px;
}

.section-title {
  margin: 10px 0;
}

.section-description {
  font-size: 14px;
  line-height: 20px;
}

.cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card-wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex: 1 1 238px;
  max-width: 240px;
  border-radius: 20px;
}

.description-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; /* simulate the ratio is 1, because the design is not consistent between elements, and the ratio chooses the closest ratio to avoid unnecessary UI bugs if there are many images with different ratios later. */
}

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.personal-position {
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-wrapper {
  display: flex;
  gap: 20px;
}

svg {
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 1024px) {
  body {
    padding: 50px 100px;
  }
  
  .section-header {
    margin-bottom: 80px;
  }

  .section-title {
    margin: 4px 0;
    font-size: 14px;
    line-height: 16px;
  }
  
  .section-description {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 430px) {
  body {
    padding: 20px 8px;
  }

  .section-header {
    margin-bottom: 20px;
  }

  .cards-container {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto;
  }

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-wrapper {
    border-radius: 8px;
  }

  .description-wrapper {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
  }

  .member-name {
    font-size: 14px;
    line-height: 20px;
  }

  .personal-position {
    margin: 5px 0;
  }

  .icon-wrapper {
    display: flex;
    gap: 8px;
  }

  svg {
    font-size: 16px;
  }
}