* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: 150 187 124;
  --text-color: 37 43 66;
  --secondary-text-color: 115 115 115;
}

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(var(--text-color));
}

body {
  padding : 50px 195px;
  max-width: 1440px;
  margin: auto;
}

.section-header {
  margin-bottom: 112px;
  animation: bounce 1s;
}

.section-header__name {
  font-size: 12px;
  line-height: 16px;
  color: rgb(var(--primary-text-color));
  font-weight: 700;
}

.section-header__title {
  margin: 10px 0;
  font-weight: 700;
}

.section-header__description {
  font-size: 14px;
  line-height: 20px;
  color: rgb(var(--secondary-text-color))
}

.cards-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  animation: fade-in-right 1.5s ease-out;
}

.card-wrapper {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  flex: 1 1 238px;
  max-width: 240px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.card-wrapper:hover .card-wrapper__image-wrapper img {
  transform: scale(1.2);
  transition: all ease 0.3s;
}

.card-wrapper__image-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; /* simulate the ratio is 1, because the design is not consistent between elements, and the ratio chooses the closest ratio to avoid unnecessary UI bugs if there are many images with different ratios later. */
  overflow: hidden;
}

.card-wrapper__image-wrapper img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-detail {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-detail__member-name {
  font-weight: 700;
}

.card-detail__member-position {
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(var(--secondary-text-color));
}

.card-detail__icon-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-detail__icon-wrapper svg {
  font-size: 24px;
}

@media (max-width: 1280px) {
  body {
    padding: 50px 80px;
  }
}


@media (max-width: 1024px) {
  
  .section-header {
    margin-bottom: 80px;
  }

  .section-header__title {
    margin: 4px 0;
    font-size: 14px;
    line-height: 16px;
  }
  
  .section-header__description {
    font-size: 12px;
    line-height: 16px;
  }
}


@media (max-width: 768px) {
  body {
    padding: 50px 40px;
  }
}

@media (max-width: 430px) {
  body {
    padding: 20px 8px;
  }

  .section-header {
    margin-bottom: 20px;
  }

  .cards-container {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto;
  }

  .card-wrapper {
    border-radius: 8px;
  }

  .card-wrapper__image-wrapper img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-detail {
    margin: 10px 0;
  }

  .card-wrapper__image-wrapper img {
    max-width: 100%;
  }

  .card-detail__member-name {
    font-size: 14px;
    line-height: 20px;
  }

  .card-detail__member-position {
    margin: 5px 0;
  }

  .card-detail__icon-wrapper {
    display: flex;
    gap: 8px;
  }

  .card-detail__icon-wrapper svg {
    font-size: 16px;
  }
}

/* animation */
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}